html{
	height:100%;
}

body{
	height: 100%;
    margin: 0;
	background: #00a651; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00a651, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00a651, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00a651, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00a651, white); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#footer {
	background:#ffcc80;
	font-family: "Trebuchet MS";
	color: white;
	text-align : center;	
	width:100%;
	padding:10px;
	height:25px;
	position:fixed;
	bottom:0;
	left:0;
}

/* ============================== */
/* ======= NAVIGATION BAR ======= */
/* ============================== */

.navbar{
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight : bold;
}

.navbar #buttons{	
	position:relative;
}

.navbar ul{	
	list-style-type: none;
	overflow: hidden;
	background-color: #ffff99;
	margin:auto;
}

.navbar li{
	float:left;
}

.navbar li a{
	display: block;
	margin: 25px;
	color: black;
	text-align:center;
	text-decoration: none;
}

.navbar li a:hover{
	color:#009933;
}

.navbar img{
	position:relative;
	display:block;
	margin:0 auto;
	padding: 25px;
}



/* ============================== */
/* ============ FEED ============ */
/* ============================== */
/* Container des différents blocs */

.feed{
	z-index: -1;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	text-align:center;
}

.feed > h2{
	font-family:"Trebuchet MS";
	display: block;
	color: white;
	border: 1px solid;
}
#test
{
    background:url('chat_default.jpeg');
}


/* =========== BLOC ARTICLE ========== */

.article{
	font-family: "Arial";
	float: left;
	width:300px;
	height: 250px;
	background-color: #ffe6f3;
	padding:10px;
	margin: 10px;
	overflow:hidden;
}

.article > h2{
	font-family: "Trebuchet MS";
	color: #cc1294;
}

.article:hover{
	opacity:0.6;
	cursor:pointer;
	transition: all 1s;
}


/* ============ BLOC EVENT =========== */

.evenement{
	float: left;
	font-family: "Arial";
	width:300px;
	height: 250px;
	background-color : #d7f4e6;
	padding:10px;
	margin: 10px;
	overflow:hidden;
}

.evenement > h2{
	font-family: "Trebuchet MS";
	color: #00bc61;
}

.evenement:hover{
	opacity:0.6;
	cursor:pointer;
	transition: all 1s;
}


/* =========== BLOC SONDAGE ========== */

.sondage{
	float: left;
	font-family: "Trebuchet MS";
	width:300px;
	height: 250px;
	background-color: #ffffb3;
	padding : 10px;
	margin: 10px;
	overflow : auto;		
	text-decoration:none;
}

.sondage > h2{
	color: #ffcc66;
}

.sondage > h4{
	text-decoration: none;
}

#button_sondage {
	display: block;
	border: 1px solid;
    border-color: black;	
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#button_sondage:hover{
	background-color: #99ffbb;
	cursor: pointer;
}

/* Pour afficher des boutons mini-citron */
/* ne marche pas pour le moment */
#button_sondage2 {
	background:url("mini_citron.png") no-repeat;
	width:100px;
	height: 57px;
    cursor:pointer;
    border:none;
    display: inline-block;
}


/* ============================== */
/* === CREATION D'UN ARTICLE ==== */
/* ============================== */

.createarticle {
	display: block;
	position: absolute;
	width: 400px;
	margin: auto;
	padding : 10px;
	background-color: white;
	font-family: "Trebuchet MS";
	border: solid 2px black;
}

.createarticle #headercreatearticle{
	float : center;
	position :relative;
	margin: auto;
	background-color:#00a651;
}

.createarticle #headercreatearticle > h2 {
	padding: 15px;
	text-align: center;
	color: white;
}

.createarticle > textarea {
	font-family:"Trebuchet MS";
	max-width: 300px;
}

.createarticle #buttoncreatearticle {
	display: inline-block;
	width: 50%;
	background-color:#00a651;
	text-align: center;
	color: white;	
}

.createarticle #buttoncreatearticle:hover {
	cursor: pointer;
	background-color: #00e66f;
}

.createarticle #expandicon {
	position : absolute;
	padding: 4px;
}

/* ============================== */
/* ===== CREATION D'UN EVENT ==== */
/* ============================== */

.createevent {
	display: block;
	position: absolute;
	left: 200px;
	width: 400px;
	margin: auto;
	padding: 10px;
	background-color: #00a651;
	font-family: "Trebuchet MS";
	border: solid 2px black;
}

.createevent > h2 {
	text-align: center;
	color: white;
}

.createevent > textarea {
	font-family:"Trebuchet MS";
	max-width: 300px;
}

.createevent #sendevent {
	display: inline-block;
	width: 50%;
	background-color:white;
	text-align: center;
	color: black;	
}

.createevent #sendevent:hover {
	cursor: pointer;
	background-color: yellow;
}

/* ============================== */
/* === CREATION D'UN SONDAGE ==== */
/* ============================== */

.createsondage {
	display: block;
	position: absolute;
	left: 200px;
	width: 400px;
	margin: auto;
	padding: 10px;
	background-color: #ffff99;
	font-family: "Trebuchet MS";
	border: solid 2px black;
}

.createsondage > h2 {
	text-align: center;
}

.createsondage > textarea {
	font-family:"Trebuchet MS";
	max-width: 300px;
}

.createsondage #sendevent {
	display: inline-block;
	width: 50%;
	background-color:white;
	text-align: center;
	color: black;	
}

.createsondage #sendevent:hover {
	cursor: pointer;
	background-color: yellow;
}

